# Database
DATABASE_URL="your-database-url"
DATABASE_DIRECT_URL="your-direct-database-url"

# Better Auth
BETTER_AUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Demo User (for development)
NEXT_PUBLIC_DEMO_USER_ID="cmhhhn7ne00043f6bnva8up6p"
NEXT_PUBLIC_DEMO_USER_NAME="Donald Duck"
